.weather {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.weather__info {
  display: flex;
  align-items: center;
}

.weather__icon {
  color: var(--color-dark);
  width: 25px;
  height: 25px;
}

.weather__icon.pink {
  color: var(--color-pink);
}

.weather__icon.blue {
  color: var(--color-blue);
}

.weather__icon.purple {
  color: var(--color-purple);
}