/* Leaves */
.leaves-full {
  background-image: url(/src/assets/left.png), url(/src/assets/right.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 60%;
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
}

.leaves {
  background-size: 90%;
  background-repeat: no-repeat;
  position: absolute;
}

.leaves-left {
  background-image: url('../../assets/corner.png');
  background-position: top left;
  top: 0;
  left: 0;
}

.leaves-right {
  background-image: url('../../assets/corner.png');
  background-size: 90%;
  background-position: left top;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.inverted .leaves-left {
  background-image: url('../../assets/corner.png');
  background-position: initial;
  bottom: 0;
  left: 0;
  top: initial;
  transform: rotate(270deg);
}

.inverted .leaves-right {
  background-image: url('../../assets/corner.png');
  background-size: 90%;
  background-position: left top;
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

/* Diamonds */

.diamond-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  height: 100vw;
  max-width: 35rem;
  max-height: 35rem;
  overflow: hidden;
}

.diamond-half-1 {
  background-image: url('../../assets/diamond-half-1.png');
}

.diamond-half-2 {
  background-image: url('../../assets/diamond-half-2.png');
}

.diamond-d-1 {
  background-image: url('../../assets/d1.png');
}

.diamond-d-2 {
  background-image: url('../../assets/d2.png');
}

.diamond-d-3 {
  background-image: url('../../assets/d3.png');
}

.diamond-d-4 {
  background-image: url('../../assets/d4.png');
}

.diamond-half-1,
.diamond-half-2,
.diamond-d-1,
.diamond-d-2,
.diamond-d-3,
.diamond-d-4 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.rotate-center {
  -webkit-animation: rotate-center 30s linear infinite both;
  animation: rotate-center 30s linear infinite both;
}

.rotate-center-2 {
  -webkit-animation: rotate-center 30s linear infinite reverse both;
  animation: rotate-center 30s linear infinite reverse both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-center-2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}