.borderline{
  position: relative;
}

.borderline:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  background-image: linear-gradient(90deg, var(--color-green),  var(--color-cyan), var(--color-purple), var(--color-pink));
  width: 100%;
  max-width: 215px;
  height: 5px;
  border-radius: 5px;
}