@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

:root {
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 500;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #f8b96c9c;
  --secondary-color: #ead1a4;
  --background-color: #f7f9f4;
  --text-color: #665851;
}

@font-face {
  font-family: 'FAMILY_NAME';
  font-style: NORMAL_OR_ITALIC;
  font-weight: NUMERIC_WEIGHT_VALUE;
  src: url(FONT_FILE_NAME.woff2) format('woff2');
}

body {
  background-color: var(--background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

body,
main {
  min-height: 100vh;
  width: 100%;
}

.title {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  margin: 1rem 0;
  color: var(--text-color);
  line-height: 1;
}

.title span {
  white-space: nowrap;
}

h2.title {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

h3.atte {
  margin-top: 0.5rem;
}

.line {
  background-image: url('./assets/line.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 2px;
}

p {
  text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
}

.page {
  opacity: 0;
}

.page.active {
  opacity: 1;
}

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
.fade-out {
  -webkit-animation: fade-out 2s ease-out 2s both;
  animation: fade-out 2s ease-out 2s both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
.fade-in {
  -webkit-animation: fade-in 2s ease-in 2s both;
  animation: fade-in 2s ease-in 2s both;
}


@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Phone portrait */
@media (max-width: 819px) and (orientation: portrait) {
  :root {
    font-size: 14px;
  }

  .leaves {
    width: 15rem;
    height: 15rem;
  }

  h1.title {
    font-size: 3.5rem;
  }

  h2.title {
    font-size: 2.5rem;
  }

  h3.title {
    font-size: 2.25rem;
  }
}

/* Phone landscape */
@media (max-width: 819px) and (orientation: landscape) {
  :root {
    font-size: 12px;
  }

  .leaves {
    width: 15rem;
    height: 15rem;
  }

  h1.title {
    font-size: 3.25rem;
  }

  h2.title {
    font-size: 2.5rem;
  }

  h3.title {
    font-size: 2.25rem;
  }

  .diamond-center {
    max-height: 100vh;
  }
}

/* iPads */
@media (min-width: 820px) and (max-width: 1200px),
(min-width:768px) and (max-width: 1200px) and (orientation: portrait) {
  :root {
    font-size: 16px;
  }

  .leaves {
    width: 20rem;
    height: 20rem;
  }

  h1.title {
    font-size: 4rem;
  }

  h2.title {
    font-size: 3rem;
  }

  h3.title {
    font-size: 2.75rem;
  }

  .diamond-center {
    max-height: 100vh;
  }
}


/* Desktops */
@media (min-width: 1201px) {
  :root {
    font-size: 20px;
  }

  .leaves {
    width: 23rem;
    height: 23rem;
  }

  h1.title {
    font-size: 4rem;
  }

  h2.title {
    font-size: 3rem;
  }

  h3.title {
    font-size: 2.75rem;
  }
}