@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

:root {
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 500;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #f8b96c9c;
  --background-color: #f7f9f4;
  --text-color: #665851;
}

body {
  background-color: var(--background-color);
  /* background-image: url('./assets/back-1.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

body,
main {
  min-height: 100vh;
  width: 100%;
}

.title {
  font-family: 'Great Vibes', cursive;
  font-size: 5rem;
  margin: 0;
  text-align: center;
  margin: 1rem 0;
  color: var(--text-color);
}

.title span {
  white-space: nowrap;
}

p {
  text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
}

.none {
  display: none;
}


.fade-out {
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@media (max-width: 900px) and (orientation: portrait) {
  :root {
    font-size: 12px;
  }

  .title {
    font-size: 3.5rem;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  :root {
    font-size: 14px;
  }

  .title {
    font-size: 3.25rem;
  }

  .diamond-center {
    max-height: 100vh;
  }
}